  <section id="services">
        <div class="container inputBG">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <md-input-container>
                        <input mdInput placeholder="Search Expenses" name="search" [(ngModel)]="listFilter">
                    </md-input-container>
                    <a class="btn btn-success btn-sm" [routerLink]="['/add-expense']">Add Expense</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <table>
                    <thead>
                        <tr>
                            <th> Date </th>
                            <th> Title </th>
                            <th> Amount </th>
                            <th> Vessel </th>                
                         </tr>
                    </thead>
                    <tr *ngFor="let expense of expenses | expenseFilter:listFilter"
                          [class.selected]="expense === selectedExpense" >
                        <td><a [routerLink]="['/expense/'+ expense.$key]">{{expense.date}}</a></td>
                        <td><a [routerLink]="['/expense/'+ expense.$key]">{{expense.title}}</a></td>
                        <td><a [routerLink]="['/expense/'+ expense.$key]">{{expense.amount}}</a></td>          
                        <td><a [routerLink]="['/expense/'+ expense.$key]">{{expense.vessel}}</a></td>    
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
