<section id="services">
    <div class="container inputBG">
        <div class="row padder">
            <div class="col-sm-12">
            <form (submit)="onEditSubmit()">
         

            <div class="form-group">
              <md-input-container class="text-full-width">
                  <input mdInput placeholder="Computer Name" name="computerName" [(ngModel)]="computerName" value="{{computerName}}" required >
              </md-input-container>
            </div>

            <div class="form-group">
              <md-input-container class="text-full-width">
                  <input mdInput placeholder="User ID" name="userid" [(ngModel)]="userid" value="{{userid}}" required >
              </md-input-container>            
            </div>

          <div class="form-group">
              <md-input-container class="text-full-width">
                  <input mdInput placeholder="Password" name="password" [(ngModel)]="password" value="{{password}}" required >
              </md-input-container>            
            </div>

            <div class="form-group" class="text-full-width">
                <md-select placeholder="Vessel" [(ngModel)]="vessel" name="vessel">
                <md-option value="Protector">Protector</md-option>
                <md-option value="Preserver">Preserver</md-option>
                <md-option value="Endurance">Endurance</md-option>
                <md-option value="Fundy">Fundy</md-option>
                <md-option value="Belle">Belle</md-option>
                <md-option value="Concord">Concord</md-option>
                <md-option value="Randell">Randell</md-option>
              </md-select>
            </div>

          <div class="form-group">
              <md-input-container class="text-full-width">
                  <textarea mdInput placeholder="Comments" name="comments" [(ngModel)]="comments" value="{{comments}}"  >
                  </textarea>
              </md-input-container>            
            </div>

            
          <div class="form-group">
              <md-input-container>
                  <input mdInput placeholder="VNC Password" name="vncpassword" [(ngModel)]="vncpassword" value="{{vncpassword}}" >
              </md-input-container>            
            </div>

          <div class="form-group">
              <md-input-container class="text-full-width">
                  <textarea mdInput placeholder="Software" name="software" [(ngModel)]="software" value="{{software}}" ></textarea>
              </md-input-container>            
            </div>

            <input type="submit" value="submit" class="btn btn-success">
           <a md-raised-button [routerLink]="['/computers']">Back</a>
          </form>
        </div>
    </div>
</div>
 </section>