
  <section id="services">
        <div class="container inputBG text-full-width">
            <div class="row">
                <div class="col-lg-12 text-center text-full-width">
                    <md-input-container>
                        <input mdInput placeholder="Search Computers" name="search" [(ngModel)]="listFilter">

                    </md-input-container>

                    <a class="btn btn-success btn-sm" [routerLink]="['/add-computer']">Add Computer</a>
                </div>
            </div>
       
            <div class="row">
                <div class="col-lg-12 text-center text-full-width">
                   
                    <table>
                        <thead>
                            <tr>
                                <th> ComputerName </th>
                                <th> IP Address </th>         
                                <th> Vessel </th>        
                            </tr>
                        </thead>
                        <tr *ngFor="let computer of computers | computerFilter:listFilter" [class.selected]="computer === selectedComputer">
                            <td><a [routerLink]="['/computer/'+computer.$key]">{{computer.computerName}}</a></td>
                            <td><a [routerLink]="['/computer/'+computer.$key]">{{computer.ipaddress}}</a></td>
                            <td><a [routerLink]="['/computer/'+computer.$key]">{{computer.vessel}}</a></td>                
                        </tr>
                    </table>
                     
                </div>
           
            </div>
    </div>
  </section>



